.list {
    list-style-type: none;
}

.link {
        text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.accent-color {
    color: #4D5AE5;
    }

.main-address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}
    
.container {
max-width: 320px;
padding: 0 16px;
margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
max-width: 1158px;
padding: 0 15px;;
}
}

/* ==========HEADER MOBILE========== */

.main-header {
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media (max-width: 767px) {
.main-header {
padding-top: 17.5px;
padding-bottom: 17.5px;
}
        
.menu, .menu-address  {
display: none;
}       
}

.logotype {
color: var(--NAVY-BLUE, #2E2F42);
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.page-header-container {
display: flex;
justify-content: space-between;
align-items: center;
}
    
.mobile-menu-open-btn {
background-color: transparent;
border: none;
padding: 0;
line-height: 0;
display: flex;
align-items: center;
}

 /* ======== MOBILE MENU ======== */ 

@media screen and (max-width: 767px) {
.mobile-menu-wrapper {
position: fixed;
top: 0;
left: 0;
z-index: 9999999999;
width: 100%;
height: 100%;
background-color: #FCFCFC;
transform: translateX(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
transform: translateX(0%);
}

.mobile-menu-container {
position: relative;
padding-top: 72px;
}

.mobile-adress-menu {
font-style: normal;
}

.mobile-menu-close-btn {
position: absolute;
top: 24px;    
right: 24px;
width: 24px;
height: 24px;
line-height: 0;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
cursor: pointer;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: transparent;
fill: #2e2f42;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
background-color: #404BBF;
border: #404BBF;
fill: #FFFFFF;
}

.mobile-menu-link {
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
color: #404BBF;
}

.mobile-menu-navigation {
padding-bottom: 168px;
}

.mobile-menu {
display: flex;
flex-direction: column;
gap: 40px;
}

.mobile-adress-menu-list {
display: flex;
flex-direction: column;
gap: 24px;
margin-bottom: 48px;
}

.mobile-icon {
fill: #f4f4fd;
}

.mobile-icon-team-items {
width: 40px;
height: 40px;
}
    
.mobile-social-links-team {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.mobile-social-links-team:hover,
.mobile-social-links-team:focus {
background-color: #404BBF;
}

.mobile-icon-list {
display: flex;
gap:40px;
}

.mobile-address-link {
padding: 24px 0;
color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover,
.mobile-address-link:focus {
color: #4D5AE5;
}
}

@media screen and (min-width: 768px) {
.mobile-menu-open-btn {
display: none;
}
        
.mobile-menu-wrapper {
display: none;
} 
}

/* MOBILE MENU END */

/* ==========HEADER TABLET========== */
@media (min-width: 768px) {

.page-header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.logotype {
margin-right: 120px;
}

.main-nav {
display: flex;
align-items: center;
}

.menu {
display: flex;
gap: 40px;
}

.menu-item {
width: calc((100% - 80px) / 3);
}

.menu-item:first-child .menu-link {
position: relative;
color: #404bbf;
}

.menu-item:first-child .menu-link::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 48px;
height: 4px;
border-radius: 2px;
background-color: #404BBF;
}

.menu-link {
display: flex;
padding-top: 24px;
padding-bottom: 24px;
color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
color: #404BBF;
}

.address-link {
color: #434455;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, 
.address-link:focus {
color: #404BBF;    
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.address-items:first-child {
margin-bottom: 12px;
} 

.address-items:first-child .address-link {
padding-top: 16px;
}

.address-items:nth-child(even) .address-link {
padding-bottom: 16px;
    }
}

/* ==========HEADER DECKSTOPE========== */

@media (min-width: 1158px) {

.logotype {
margin-right: 76px;
}

.address-items {
width: calc((100% - 40) / 2);
}

.menu-address {
display: flex;
column-gap: 40px;
align-items: center;
}


.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}
}

/* HERO */

.section-one {
background-color: #2E2F42;
}

.hero {
max-width: 320px;
margin-left: auto;
margin-right: auto;
padding-top: 72px;
padding-bottom: 72px;
background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
url(../images/hero/mobile-people-office.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
.hero {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/hero/mobile-people-office@2x.jpg);
}
}

@media (min-width: 768px)
{
.hero {
max-width: 768px;
padding-top: 112px;
padding-bottom: 112px;
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/hero/tablet-people-office.jpg);
}

@media (min-resolition: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
.hero {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/hero/tablet-people-office@2x.jpg);
}
}
}

@media (min-width: 1158px) {
.hero {
max-width: 1440px;
padding-top: 188px;
padding-bottom: 188px;
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/hero/people-office.jpg);
}

@media (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/hero/people-office@2x.jpg);
}
}
}

.heading-main {
color: #FFF;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
max-width: 200px;
}

@media (min-width: 768px) {
.heading-main {
max-width: 496px;
margin-bottom: 36px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}
}

@media (min-width: 1158px) {
.heading-main {
margin-bottom: 48px;
}
}

.title-button {
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
padding: 16px 32px;
margin-top: 48px;
align-items: flex-start;
border-radius: 4px;
border: none;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: var(--IRIS, #4D5AE5);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
background-color: #404bbf;
}

/* ===== ADVANTAGES ===== */

.section-two {
padding-top: 96px;
padding-bottom: 96px;
}

@media (min-width: 1158px) {
.section-two {
padding-top: 120px;
padding-bottom: 120px;
}
}

.advantages-list {
display: flex;
flex-direction: column;
row-gap: 72px;
}

@media (min-width: 768px) {
.advantages-list { 
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
}
.section-two-list-item {
width: calc((100% - 24px) / 2);
}
}

@media (min-width: 1158px) {
.section-two-list-item {
width: calc((100% - 72px) / 4);
}
}

.heading-advantages {
margin-bottom: 8px;
color: #2e2f42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}

@media (min-width: 768px) {
.heading-advantages {
text-align: left;
}
}

@media (min-width: 1158px) {
.heading-advantages {
font-size: 20px;
font-weight: 500;
line-height: 1.2em;
}
}

.paragraph-advantages {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

@media (min-width: 1158px) {
.paragraph-advantagest {
font-weight: 400;
}
}

.section-two-icon {
display: none;
}

@media (min-width: 1158px) {
.section-two-icon {
width: 264px;
height: 112px;
border-radius: 4px;
border: 1px solid #8E8F99;
background-color: #F4F4FD;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px
}
}

/* ===== TEAM ===== */

.section-three {
background-color: #F4F4FD;
padding-top: 96px;
padding-bottom: 96px;
}

.heading-team,
.heading-portfolio {
color: #2e2f42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.heading-team {
margin-bottom: 72px;
}

.our-team-list {
display: flex;
flex-direction: column;
row-gap: 72px;
}

.our-team-list-items {
border-radius: 0px 0px 4px 4px;
background-color: #FFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
margin-left: auto;
margin-right: auto;
max-width: 264px;
}

@media (min-width: 768px) {
.our-team-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 64px 24px;
justify-content: center;
}

.our-team-list-items {
    margin-left: auto;
    margin-right: auto;
width: calc((100% - 24px) / 2);
}   
}

@media (min-width: 1158px) {
.our-team-list-items {
width: calc((100% - 74px) / 4);
}
}

.section-three-item-text {
margin-right: auto;
margin-left: auto;
padding: 32px 0;
}

.icon-team-list {
display: flex;
justify-content: center;
gap: 24px;
}

.icon-team-items {
height: 40px;
width: 40px;
}

.social-links-team {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-team:hover,
.social-links-team:focus {
background-color: #404bbf;
}

.icon {
fill: #f4f4fd;
}

.heading-squad {
color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.paragraph-team {
color: #434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

/* ===== OUR PORTFOLIO ===== */

.section-four {
background-color: #FFF;
padding-top: 96px;
padding-bottom: 96px;
}

@media (min-width: 1158px) {
.section-four {
padding-top: 120px;
padding-bottom: 120px;
}
}

.heading-portfolio {
margin-bottom: 72px;
}

.our-portfolio-list {
display: flex;
flex-direction: column;    
gap: 48px;   
}

@media (min-width: 768px) {
.our-portfolio-list {
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
column-gap: 24px;
row-gap: 72px;
}
}

@media (min-width: 1158px) {
.our-portfolio-list {
row-gap: 48px;
}
}



.our-portfolio-list-items {
box-shadow: 
0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media (min-width: 768px) {
.our-portfolio-list-items {
width: calc((100% - 24px) / 2);
box-shadow: 
0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
}

@media (min-width: 1158px) {
.our-portfolio-list-items {
width: calc((100% - 48px) / 3);
box-shadow: none;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-items:hover {
box-shadow: 
0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
}

.section-four-item-text {
padding: 32px 16px ;
border: 1px solid #f4f4fd;
border-top: none;
}

@media (min-width: 1158px) {
.portfolio-item-and-text {
border-color: #e7e9fc;
}
}

.heading-proposition {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing:0.02em;
margin-bottom: 8px;
}

.paragraph-portfolio {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}


/* ===== OVERLAY STYLES ===== */

.overlay-position {
position: relative;
overflow: hidden;
}
    
.overlay {
position: absolute;
top: 0;
left: 0;
color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
background-color: #4D5AE5;
width: 100%;
height: 100%;
padding: 40px 32px;
overflow: auto;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.our-portfolio-list-items:hover .overlay {
transform: translateY(0%);
}

/* ===== FOOTER ===== */

.footer-wrapper {
padding-top: 96px;
padding-bottom: 96px;
background-color: #2E2F42;
}

@media (min-width: 1158px) {
.footer-wrapper {
padding-top: 100px;
padding-bottom: 100px;
}
}

.container-footer {
display: flex;
flex-direction: column;
gap: 72px;   
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
.container-footer { 
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px;
justify-content: flex-start;
padding-left: 108px;
}
}

@media (min-width: 1158px) {
.container-footer {
flex-direction: row;
align-items: baseline;
justify-content: space-between;
gap: unset;
}
}

.logo-footer-div {
text-align: center;
}

@media (min-width: 768px) {
.logo-footer-div {
max-width: 264px;
text-align: left;
}
}

@media (min-width: 1158px) {
.logo-footer-div {
margin-right: 120px;
}
}

@media (min-width: 768px) {
.socials-container {
width: 208px;
text-align: left;
}
}

@media (min-width: 1158px) {
.socials-container {
margin-right: 80px;
}
}

.logotype-footer {
color: #4D5AE5;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}

.footer-logotype-accent {
color: #F4F4FD;
}

.paragraph-footer {
color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
max-width: 264px;
}



.footer-heading {
color: var(--WHITE, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
    }

@media (min-width: 768px) {
.footer-heading {
text-align: left;
}    
}

.footer-list {
display: flex;
justify-content: center;
gap: 16px;
}

.section-footer-list-item {
width: 40px;
height: 40px;
}

.social-links-footer {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover,
.social-links-footer:focus {
background-color: #31D0AA;
}

.subscribe-footer {
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
}

@media (min-width: 768px) {
.subscribe-footer {
text-align: left;
}
}

@media (min-width: 768px) {
.subscribe-form-footer {
display: flex;
gap: 24px;
}
}

.subscribe-input-footer {
width: 288px;
height: 40px;
border-radius: 4px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
outline: 0px solid transparent;
color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.04em;
padding: 8px 16px;
margin-bottom: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

@media (min-width: 768px) {
.subscribe-input-footer {
width: 264px;
}
}    

.subscribe-input-footer:focus {
border-color: #4D5AE5;
}


.subscribe-input-footer::placeholder {
color: #fff;
font-size: 12px;
font-weight: 400;
line-height: 2;
letter-spacing: 0.04em;
opacity: 0.6;
}

@media (min-width: 1158px) {
.subscribe-input-footer::placeholder {
opacity: 1;
}
}

.subscribe-button-futtor {
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

.send-email-svg {
fill: #fff;
}

/* BACKDROP STYLES */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    }
    
/* MODAL WINDOW */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px; 
    background-color: #FCFCFC;
    border-radius: 4px;
    border: none;
    padding: 72px 24px 24px 24px ;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 768px) {
    .modal {
    width: 408px;
    min-height: 584px;
    }
}

    .modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    fill: var(--CORNFLOWER, #E7E9FC);
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-close-button:hover,
    .modal-close-button:focus {
    background-color: #404BBF;
    border: none;
    }
    
    .modal-close-button-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-close-button:hover .modal-close-button-icon,
    .modal-close-button:focus .modal-close-button-icon { 
    fill: white;
    }
    
    .modal-close-button-icon {
    fill: #2E2F42;
    }
    
    .review-form-desription {
    width: 360px;    
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    width: 256px;
    }

    @media screen and (min-width: 768px) {
        .review-form-desription {
            width: 360px;
        }
    }

    .review-form-label {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    }
    
    .review-form-wrapper {
    margin-bottom: 8px;
    }
    
    .review-form-comment-wrapper {
    margin-bottom: 16px;
    }
    
    .review-form-input-wrapper {
    position: relative;
    }
    
    .review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: 0px solid transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .review-form-input-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .review-form-input:focus{
    border-color: #4D5AE5;
    }
    
    .review-form-input:focus + .review-form-input-icon {
    fill: #4D5AE5;
    }
    
    .review-form-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: 0px solid transparent;
    padding: 8px 16px;
    resize: none;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .review-form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40)
    }
    
    .review-form-textarea:focus{
        border-color: #4D5AE5;
    }
    /* CHECKBOX */
    
    .review-form-checkbox-wrapper{
    margin-bottom: 24px;
    }
    
    .review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .review-form-checkbox:checked
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
    }
    
    .review-form-checkbox:focus
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    outline: 2px solid #404BBF
    }
    
    .review-form-checkbox-icon{ 
    fill: #f4f4fd;
    opacity: 0;
    }
    
    .review-form-checkbox:checked
    + .review-form-checkbox-label 
    .review-form-checkbox-icon {
    opacity: 1;
    }
    
    .review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    }
    
    .accent-color {
    color: #4D5AE5;
    }
    
    .review-form-submit-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.review-form-submit-button:hover,
.review-form-submit-button:focus {
background-color: #404BBF;
}